<h2> Jobs </h2>

<hr>

<div class="container">

    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="dbstatus()">Job DB Status</button>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="jobquery()">Jobs Query</button>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="changepassword()">Change Password</button>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="logout()">Logout</button>
        </div>
    </div>

</div>

